body{
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
}

img{
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;
    margin-top: 30px;
    padding-right: 30px;
    justify-content: flex-end;
    width: 100%;
}

a{
    margin-right: 20px;
    color: #5E686D;
}

a:first-child{
    margin-left: 0;
}

a:hover{
    color: black;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.textBar{
    box-shadow: none;
    border-width: 1px;
    border-radius: 60px;
    margin-top: 50px;
    height: 50px;
    width: 700px;
    padding: 0 30px;
}
.buttons{
    display: flex;             
    justify-content: center;   
    margin-top: 20px;          
    width: 100%;  
    gap: 10px;
}

button{
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;        
    border: none;             
    background-color: #0779E4; 
    color: white;            
    border-radius: 50px;      
    cursor: pointer;        
}

button:hover{
    background-color: #0056b3; 
}

.logo{
    color: #4285f4;
    position: relative;
    left: 1040px;
    top: -18px;
}

.image{
    display: flex;
    height: 26px;
    margin-left: 17px;
    margin-top: -30px;
}

.heading{
    color: rgb(222, 69, 60);
    font-size: 20px;
    font-weight: 500;
    padding: 20px 35px 10px;
}

.whitespace{
    display: inline-block;
    width: 50%;
}

.advanced{
    margin: 40px 40px;
}

#headings{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.empty-space{
    width: 35%;
}